@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

img[logo] {
  width: 100px;
  width: 120px;
}

h1 > a {
  padding-inline: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: 100;
}

header nav {
  display: contents;
}

header > * {
  flex: 1;
}

header ul > * {
  flex-grow: 0;
}

header ul li button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 16px;
}

nav {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;

  font-size: 14px;
  height: 100%;
  width: 562px;
  text-align: center;
  font-weight: 600;
  padding-inline: 8px;
}

ul > li {
  flex-basis: min-content;
}

article {
  height: 100vh;
  height: 100lvh;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  padding-left: 32px;
  padding-right: 8px;
}

.header-nav button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-block: 0.5rem;
  transition: all 0.3s;
}

.header-nav li:has(button:hover) {
  text-decoration: underline;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}

.header-icons {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 14px;
  padding-right: 27px;
}

.header-icons > a {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20%;
}

.header-icons > a > img {
  width: 24px;
  height: 24px;
}

header .burger-menu {
  padding-right: 32px;
  display: none;
  color: white;
}

/* model 3 section */

.article-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.article-heading h1 {
  margin-top: 12vh;
  font-size: 56px;
  color: white;
  padding: 0;
  text-align: center;
}

.article-heading a {
  color: white;
  text-decoration-color: white;
  text-decoration-skip-ink: none;
  text-decoration: none;
}

.article-heading h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
}

*[underline] {
  position: relative;
}

*[underline]::after {
  content: "";
  position: absolute;
  inset-inline: 0px;
  bottom: 0;
  z-index: 1000;
  border-bottom: 0.5px solid white;
  border-spacing: 0;
}

*[underline][small-line]::after {
  inset-inline: 10px;
}

.article-heading p {
  margin-top: 4px;
  font-size: 17px;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.article-heading sup {
  font-size: 8px;
}

.section-buttons {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 16px;
}

.section-buttons button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 14px;
}

.section-buttons button:focus:not(.cybertruck button) {
  box-shadow: inset 0 0 0 2px;
  outline: none;
}

.section-buttons > * {
  width: 264px;
  height: 40px;
  padding: 4px 24px 4px 24px;
  border-radius: 4px;
  font-weight: 700;
}

.section-buttons > :first-child {
  background-color: #3e6ae1;
  color: white;
  border: 3px solid #3e6ae1;
}

.section-buttons > :last-child {
  background-color: white;
  color: #393c41;
  border: 3px solid #ffffff;
}

/* model y */

.model-y {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
}

/* model x */

.model-x {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png);
}

/* model s */

.model-s {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png);
}

/* cybertruck */

.cybertruck {
  background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg);
}

.cybertruck .headerc {
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-top: 12vh;
  display: inline-block;
  width: 450px;
  height: min-content;
}

.cybertruck .section-buttons {
  flex-grow: 1;
  align-items: flex-end;
}

.cybertruck .section-buttons button {
  color: rgb(162, 163, 165);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cybertruck .section-buttons button:active {
  box-shadow: none;
  color: white;
  outline: none;
  background-color: hsla(0, 0%, 100%, 0.15);
}

.cybertruck button:hover {
  transition: all 0.3s;
  opacity: 0.85;
}

.cybertruck .section-buttons > *:first-child {
  background-color: rgb(17, 17, 17);
  border: none;
  border-radius: 0;
  padding-block: 4px;
  position: relative;
}

.cybertruck .section-buttons > *:first-child::before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 3px solid rgb(142, 142, 142);
  position: absolute;
  top: 0;
  left: 0;
}

.cybertruck .section-buttons > *:first-child:active::before {
  border-top: 3px solid rgb(255, 255, 255);
}

.cybertruck .section-buttons > *:last-child {
  border-radius: 0;
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(57, 60, 65);
  color: rgb(162, 163, 165);
}

.cybertruck .section-buttons > *:last-child:active {
  border: 1px solid hsla(0, 0%, 100%, 0.8);
}

/* solar panel */

.solar-panel {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop);
}

/* solar roof */

.solar-roof {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png);
}

/* powerwall */

.powerwall {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop-US.png);
}

/* accessories */

.accessories {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png);
}

.accessories .section-buttons > * {
  background-color: #3e6ae1;
  border: 3px solid #3e6ae1;
  color: white;
}

/* copy section */

.copy-section {
  height: auto;
  background-image: none;
  background-color: #000000;
  color: rgb(208, 209, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copy-section sup {
  font-size: 8px;
}

.copy-section section {
  max-width: 595px;
  text-align: center;
  padding: 40px 0 24px 0;
}

.copy-section section p {
  font-weight: 600;
  text-align: center;
  padding-bottom: 14px;
  color: rgb(208, 209, 210);
  font-size: 12px;
  line-height: 18px;
}

.copy-section section p a {
  color: rgb(254, 254, 254);
  border-bottom-color: rgb(254, 254, 254);
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(208, 209, 210);
  background-color: #000000;
  color: white;
  font-size: 12px;
}

footer section {
  /* max-width: 595px; */
  padding: 40px 0 24px 0;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 100%;
}

footer ul {
  font-size: 12px;
  min-height: 70px;
}

footer ul li {
  flex: 1;
  flex-basis: max-content;
}

footer ul a {
  color: rgb(208, 209, 210);
  font-size: 12px;
  text-decoration: none;
}

.footer-nav {
  padding-top: 0;
  width: 100%;
}

/* media queries */

@media (max-width: 870px) {
  article {
    height: 90vh;
    height: 80lvh;
  }

  .logo {
    padding-left: 8px;
  }

  .article-heading h1 {
    font-size: 45px;
  }

  .article-heading h3 {
    width: 80%;
    margin-inline: auto;
  }

  .article-heading h3[underline] {
    text-decoration: underline;
  }

  .article-heading h3::after {
    border-bottom: 1px solid transparent;
  }

  header ul,
  header .header-icons {
    display: none;
  }

  header .burger-menu {
    display: flex;
    justify-content: flex-end;
  }

  header .burger-menu button {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    position: relative;
    right: -16px;
  }
  header .burger-menu button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20%;
  }

  header .burger-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
  }

  .section-buttons {
    width: 80%;
    margin-inline: auto;
    gap: 8px;
  }

  .cybertruck .headerc {
    width: 80%;
  }

  .cybertruck .section-buttons {
    justify-content: flex-end;
  }

  .copy-section section {
    width: 80%;
  }

  .footer-nav ul {
    flex-wrap: wrap;
    gap: 8px;
  }

  .footer-nav ul li {
    flex-grow: 0;
  }
}

@media (max-width: 1100px) {
  /* model 3 */

  .model-3 {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Mobile-US.png);
  }

  /* model y */

  .model-y {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Mobile-US-v2.png);
  }

  /* model x */

  .model-x {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Mobile-US.png);
  }

  /* model s */

  .model-s {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Mobile-US.png);
  }

  /* cybertruck */

  .cybertruck {
    background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Mobile.jpg);
  }

  /* solar panel */

  .solar-panel {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Mobile);
  }

  /* solar roof */

  .solar-roof {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Mobile-US.png);
  }

  /* powerwall */

  .powerwall {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Mobile-US.png);
  }

  /* accessories */

  .accessories {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Mobile-US.png);
  }
}
