@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

img[logo] {
  width: 100px;
  padding-left: 2rem;
  width: 152px;
}

h1 > a {
  padding-inline: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  position: absolute;
  z-index: 100;
}

nav {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 14px;
  height: 100%;
  text-align: center;
  font-weight: 600;
}

ul > li {
  flex: 1;
  max-width: 100px;
}

article {
  height: 100vh;
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo {
  flex-basis: 0;
  flex-grow: 1;
}

.header-icons {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 14px;
  padding-right: 2rem;
}

.header-icons > a {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.header-icons > a > img {
  width: 24px;
  height: 24px;
}

/* model 3 section */

.model-3-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.model-3-heading h1 {
  margin-top: 12vh;
  font-size: 56px;
  color: white;
  padding: 0;
  text-align: center;
}

.model-3-heading a {
  color: white;
  text-decoration-color: white;
  text-decoration-skip-ink: none;
}

.model-3-heading h3 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-size: 28px;
  line-height: 36px;
}

.model-3-heading p {
  margin-top: 4px;
  font-size: 17px;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.model-3-heading sup {
  font-size: 8px;
}

.section-buttons {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  gap: 16px;
}

.section-buttons > * {
  width: 264px;
  height: 40px;
  padding: 4px 24px 4px 24px;
  border-radius: 4px;
  font-weight: 700;
}

.section-buttons > :first-child {
  background-color: #3e6ae1;
  color: white;
  border: 3px solid #3e6ae1;
}

.section-buttons > :last-child {
  background-color: white;
  color: #393c41;
  border: 3px solid #ffffff;
}

/* model y */

.model-y {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
}

/* model x */

.model-x {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png);
}

/* model s */

.model-s {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png);
}

/* cybertruck */

.cybertruck {
  background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg);
}

.cybertruck .headerc {
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-top: 12vh;
  display: inline-block;
  width: 450px;
  height: min-content;
}

.cybertruck .section-buttons {
  flex-grow: 1;
  align-items: flex-end;
}

.cybertruck .section-buttons > *:first-child {
  background-color: rgb(17, 17, 17);
  color: rgb(216, 217, 218);
  border: none;
  border-radius: 0;
  padding-block: 4px;
  position: relative;
}

.cybertruck .section-buttons > *:first-child::before {
  content: " ";
  display: block;
  width: 100%;
  border-top: 3px solid rgb(142, 142, 142);
  position: absolute;
  top: 0;
  left: 0;
}

.cybertruck .section-buttons > *:last-child {
  border-radius: 0;
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(57, 60, 65);
  color: rgb(162, 163, 165);
}

/* solar panel */

.solar-panel {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop);
}

/* solar roof */

.solar-roof {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png);
}

/* powerwall */

.powerwall {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop-US.png);
}

/* accessories */

.accessories {
  background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png);
}

.accessories .section-buttons > * {
  background-color: #3e6ae1;
  border: 3px solid #3e6ae1;
  color: white;
}
